.productContainer{
    width: 80%;
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    padding-inline: 10%;
}
.SingleInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.Volver{
    position: absolute;
    left: 70px;
    top: 125px;
    font-size: 18px;
    color: #222831;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.Volver:hover{
    color: #FFD369;
}
.añadir{
    width: 100%;
}
.añadir button{
    cursor: pointer;
    color: white;
    width: 230px;
    font-size: 20px;
    border:  none;
    background-color: #222831;
    height: 40px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.añadir button:hover{
    background-color: #191c22;
}
.StockLeft{
    font-size: 14px;
    color: #393E46;
}
.GoToCartBtnLink{
    width: 230px
}
.GoToCartBtn{
    background-color: #222831;
    color: white;
    width: 230px;
    height: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}