.contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}
.contador div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contador div span{
    padding-block: 5px;
    width: 100%;
    text-align: center;
}
.botonContador{
    background-color: #393E46;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.botonContador:hover{
    background-color: #222429;
}